<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="HospitalSettings" type="QuickSupport_v2.HospitalSettings, QuickSupport_v2" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>Tahoma;9</value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <HospitalSettings>
    <Hospitals>
      <clear />
      <!--Hậu tố cần có PRO/STA-->
      <add KEY="CL_PRO" VALUE="server=10.8.17.81;database=HOANMY_CUULONG_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
       BENHVIEN_ID="92088" GROUP="CONNECTIONSTRING" TEXT="Cửu Long PRO" />
      <add KEY="CL_STA" VALUE="server=10.24.10.28;database=HOANMY_CUULONG_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="92088" GROUP="CONNECTIONSTRING" TEXT="Cửu Long STA" />
      <add KEY="DL_PRO" VALUE="server=10.8.18.33;database=HOANMY_DALAT_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="68038" GROUP="CONNECTIONSTRING" TEXT="Đà Lạt PRO" />
      <add KEY="DL_STA" VALUE="server=10.25.10.37;database=HOANMY_DALAT_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="68038" GROUP="CONNECTIONSTRING" TEXT="Đà Lạt STA" />
      <add KEY="DN_PRO" VALUE="server=10.8.19.33;database=HOANMY_DANANG_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="48072" GROUP="CONNECTIONSTRING" TEXT="Đà Nẵng PRO" />
      <add KEY="DN_STA" VALUE="server=10.22.10.36;database=HOANMY_DANANG_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="48072" GROUP="CONNECTIONSTRING" TEXT="Đà Nẵng STA" />
      <add KEY="SG_PRO" VALUE="server=10.8.20.67;database=HOANMY_SAIGON_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79071" GROUP="CONNECTIONSTRING" TEXT="Sài Gòn PRO" />
      <add KEY="SG_STA" VALUE="server=10.20.10.107;database=HOANMY_SAIGON_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79071" GROUP="CONNECTIONSTRING" TEXT="Sài Gòn STA" />
      <add KEY="MAT_PRO" VALUE="server=10.8.18.33;database=HOANMY_MAT_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79976" GROUP="CONNECTIONSTRING" TEXT="Mắt PRO" />
      <add KEY="MAT_STA" VALUE="server=10.34.10.19;database=HOANMY_MAT_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79976" GROUP="CONNECTIONSTRING" TEXT="Mắt STA" />
      <add KEY="VINH_PRO" VALUE="server=10.8.18.33;database=HOANMY_VIH_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="40574" GROUP="CONNECTIONSTRING" TEXT="Vinh PRO" />
      <add KEY="VINH_STA" VALUE="server=10.28.10.12;database=HOANMY_VIH_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="40574" GROUP="CONNECTIONSTRING" TEXT="Vinh STA" />
      <add KEY="THUDUC_PRO" VALUE="server=10.8.21.65;database=HOANMY_THUDUC_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79643" GROUP="CONNECTIONSTRING" TEXT="Thủ Đức PRO" />
      <add KEY="THUDUC_STA" VALUE="server=10.36.10.15;database=HOANMY_THUDUC_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79643" GROUP="CONNECTIONSTRING" TEXT="Thủ Đức STA" />
      <add KEY="VANPHUC_PRO" VALUE="server=10.8.21.65;database=HOANMY_VANPHUC2_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="74183" GROUP="CONNECTIONSTRING" TEXT="Vạn Phúc 2 PRO" />
      <add KEY="VANPHUC_STA" VALUE="server=10.29.130.22;database=HOANMY_VANPHUC2_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="74183" GROUP="CONNECTIONSTRING" TEXT="Vạn Phúc 2 STA" />
      <add KEY="BINHDUONG_PRO" VALUE="server=10.8.21.65;database=HOANMY_BINHDUONG_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="74175" GROUP="CONNECTIONSTRING" TEXT="Bình Dương PRO" />
      <add KEY="BINHDUONG_STA" VALUE="server=10.29.10.19;database=HOANMY_BINHDUONG_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="74175" GROUP="CONNECTIONSTRING" TEXT="Bình Dương STA" />
      <add KEY="BINHDUONGC_PRO" VALUE="server=10.8.21.65;database=HOANMY_BINHDUONGCLINIC_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="74182" GROUP="CONNECTIONSTRING" TEXT="Bình Dương Clinic PRO" />
      <add KEY="BINHDUONGC_STA" VALUE="server=10.29.10.19;database=HOANMY_BINHDUONGCLINIC_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="74182" GROUP="CONNECTIONSTRING" TEXT="Bình Dương Clinic STA" />
      <add KEY="DONGNAI_PRO" VALUE="server=10.8.22.71;database=HOANMY_DONGNAI_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="75263" GROUP="CONNECTIONSTRING" TEXT="Đồng Nai PRO" />
      <add KEY="DONGNAI_STA" VALUE="server=10.27.10.24\MSSQLSERVER01;database=HOANMY_DONGNAI_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="75263" GROUP="CONNECTIONSTRING" TEXT="Đồng Nai STA" />
      <add KEY="TMSGC_STA" VALUE="server=10.23.10.32;database=HOANMY_TMSGC_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79464" GROUP="CONNECTIONSTRING" TEXT="TMSGC STA" />
      <add KEY="TMSGC_PRO" VALUE="server=10.8.22.71;database=HOANMY_TMSGC_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79464" GROUP="CONNECTIONSTRING" TEXT="TMSGC PRO" />
      <add KEY="HMMH_STA" VALUE="server=10.23.10.32;database=HOANMY_HMMH_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="96144" GROUP="CONNECTIONSTRING" TEXT="Minh Hải STA" />
      <add KEY="HMMH_PRO" VALUE="server=10.8.22.71;database=HOANMY_HMMH_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="96144" GROUP="CONNECTIONSTRING" TEXT="Minh Hải PRO" />
      <add KEY="PANDORA_STA" VALUE="server=10.23.10.32;database=HOANMY_PANDORA_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79765" GROUP="CONNECTIONSTRING" TEXT="Pandora STA" />
      <add KEY="PANDORA_PRO" VALUE="server=10.8.22.71;database=HOANMY_PANDORA_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79765" GROUP="CONNECTIONSTRING" TEXT="Pandora PRO" />
      <add KEY="HMTDM_STA" VALUE="server=10.30.10.36;database=HOANMY_TMTDM_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="74174" GROUP="CONNECTIONSTRING" TEXT="HMTDM STA" />
      <add KEY="HMTDM_PRO" VALUE="server=10.8.23.76;database=HOANMY_TMTDM_HIS;user id=fpt-support;password=fpt@123456;Connect Timeout=30;"
        BENHVIEN_ID="74174" GROUP="CONNECTIONSTRING" TEXT="HMTDM PRO" />
      <add KEY="TMITO_STA" VALUE="server=10.32.10.34;database=HOANMY_DONGNAI_ITO_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="75266" GROUP="CONNECTIONSTRING" TEXT="TMITO STA" />
      <add KEY="TMITO_PRO" VALUE="server=10.8.23.76;database=HOANMY_DONGNAI_ITO_HIS;user id=fpt-support;password=fpt@123456;Connect Timeout=30;"
        BENHVIEN_ID="75266" GROUP="CONNECTIONSTRING" TEXT="TMITO PRO" />
      <add KEY="HMBP_STA" VALUE="server=10.31.10.36;database=HOANMY_BINHPHUOC_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="70079" GROUP="CONNECTIONSTRING" TEXT="Bình Phước STA" />
      <add KEY="HMBP_PRO" VALUE="server=10.8.23.76;database=HOANMY_BINHPHUOC_HIS;user id=fpt-support;password=fpt@123456;Connect Timeout=30;"
        BENHVIEN_ID="70079" GROUP="CONNECTIONSTRING" TEXT="Bình Phước PRO" />
      <add KEY="HMGV_STA" VALUE="server=10.35.10.30;database=HOANMY_GOVAP_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79517" GROUP="CONNECTIONSTRING" TEXT="Gò Vấp STA" />
      <add KEY="HMGV_PRO" VALUE="server=10.8.23.76;database=HOANMY_GOVAP_HIS;user id=fpt-support;password=fpt@123456;Connect Timeout=30;"
        BENHVIEN_ID="79517" GROUP="CONNECTIONSTRING" TEXT="Gò Vấp PRO" />

      <!--TrungVt-->
      <add KEY="PATH_SOURCE" VALUE="D:\04.SUPPORT\FileData\CONFIG_SOURCE_ELEASTIC\" BENHVIEN_ID="" GROUP="CONFIGSOURCE" TEXT="" />
      <add KEY="PATH_TARGET" VALUE="D:\02.WORK_ELASTIC\02.SOURCE_TRUNK\SOURCE_BUILD_NEW\02.eHospital\" BENHVIEN_ID="" GROUP="CONFIGSOURCE" TEXT="" />
      <add KEY="PATH_RUNAPP" VALUE="C:\Users\TrungVT21\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\FPT\eHospital" BENHVIEN_ID="" GROUP="CONFIGSOURCE" TEXT="" />

      <add KEY="NOTE1" VALUE="fhmc.com\TrungVT21-FPT" BENHVIEN_ID=""
       GROUP="CUSTOM_NOTE" TEXT="" />
      <add KEY="NOTE2" VALUE="$v$ZMjnh7La26a" BENHVIEN_ID="" GROUP="CUSTOM_NOTE"
        TEXT="" />
      <add KEY="NOTE3" VALUE="1a_ojAkijAQ" BENHVIEN_ID="" GROUP="CUSTOM_NOTE"
        TEXT="" />
      <add KEY="NOTE4" VALUE="installer01-fpt" BENHVIEN_ID="" GROUP="CUSTOM_NOTE"
        TEXT="" />
      <add KEY="NOTE5" VALUE="fhmc.com\installer01-fpt&#xD;&#xA; + Jenkins: trungvt21/OanhM*p@123&#xD;&#xA; + remote Jenkins: \\gmc-crd.fishcm.com.vn\eHospital-Builds_New&#xD;&#xA; + remote: admin.local/123456A!@#"
        BENHVIEN_ID="" GROUP="CUSTOM_NOTE" TEXT="" />
      <add KEY="NOTE6" VALUE="fhmc.com\installer01-fpt - E1wlZ)Bt&amp;3?778x"
        BENHVIEN_ID="" GROUP="CUSTOM_NOTE" TEXT="" />
      
      <add KEY="ISONL_SQLJSON" VALUE="0" BENHVIEN_ID="00000" GROUP="KHAC" TEXT="0: Câu query dùng trong file json local, 1: File json theo API_SQLJSON" />
      <!--Dùng khi ISONL_SQLJSON = 1-->
      <add KEY="API_SQLJSON" VALUE="https://api.jsonbin.io/v3/b/661a4307acd3cb34a837bf68" BENHVIEN_ID="00000" GROUP="KHAC" TEXT="API SQLJSON_URL" />
      <add KEY="API_MASTER" VALUE="$2a$10$lmlK2ZWzx2YjtA6u8m89VOzWRrLIVD1UMdkxEq6euLIsJeBfWPd6y" BENHVIEN_ID="00000" GROUP="KHAC" TEXT="X-Master-Key" />
      <add KEY="API_ACCSESS" VALUE="$2a$10$/zllRg7WgX9V8m73Zx.bgO9WaLWlqZ5qkPVBPXNdAGuO2jMw0RZiG" BENHVIEN_ID="00000" GROUP="KHAC" TEXT="X-Access-Key" />


    </Hospitals>
  </HospitalSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>